@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --accent: oklch(87.684% 0.04914 248.438);
    --accent-foreground: oklch(0.208 0.042 265.755);
}

.dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.208 0.042 265.755);
    --card-foreground: oklch(0.984 0.003 247.858);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(0.984 0.003 247.858);
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-gray-200 dark:border-gray-700;
  }
}